/* Importing google fonts - Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}


body{
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:where(.signup-container, .signin-container, .todo-container) {
    display: none;
    height: 50vh;
    width: 50vh;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}

.signup-container {
    display: block;
}

.signin-container {
    display: none;
}
.todo-container {
    display: none;
    height: 90vh;
    width: 90vh;
    padding: 1.5%;
}

.signup-container:hover, .signin-container:hover, .todo-container {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 30px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
      transition: 0.3s ease-in-out;
}

.signup-container-inner, .signin-container-inner{

    border: 1px solid black;
    border-radius: 10px;
    
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: lightblue;
    
}

.signup-input-wrapper, .signin-input-wrapper {
    height: 10%;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: white;

}
.signup-input-wrapper:focus-within, .signin-input-wrapper:focus-within {
    outline: 1px solid white;
    outline-offset: 2px;
    
}
.signup-container-inner .signup-text, .signin-container-inner .signin-text {
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0px 30px 4px;
    
}

.signup-container-inner .head, .signin-container-inner .head{
    font-weight: 500;
    font-size: 20px;
    margin: 2px 4px;
    
}



.signup-input-wrapper input, .signin-input-wrapper input {
    height: 90%;
    border-radius: 20px;
    flex: 1;
    outline: none;
    border: none;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 12%;
}

.button button {
    height: 100%;
    width: 40%;
    border-radius: 10px;
    font-size: 15px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-color: rgb(33, 32, 32);
    transition: 0.3s ease-in-out;
}

.button button:hover {
    background-color: rgb(236, 225, 212);
    outline: 1px solid white;
    
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.switchUser {
    text-align: center;
}
.switchUser span {
    text-decoration: underline;
}
.switchUser span:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.todo-container .todo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
    /* border: 1px solid black; */
    width: 100%;
    height: 18%;
    font-size: 1rem;
}
.todo-header .todo-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.todo-header .todo-name span {
    font-size: .8em;
}

.todo-header .todo-add {
    /* border: 1px solid black; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 1em;

}

.todo-add input {
    height: 100%;
    width: 80%;
    font-size: 1.5em;
    border-radius: 10px;
    border: 1px solid black;
}

.todo-add button {
    height: 100%;
    width: 18%;
    font-size: 1.5em;
    border-radius: 10px;
    border: 1px solid black;
}

.todo-add button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.todo-container .todo-list {
    /* flex: 1;    it make a particular element take the remaing size of the outer container*/
    margin-top: 5%;
    height: 78%;
    width: 100%;
    border: 1px solid black;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}

.todo-list .list-items {
    overflow-y: auto;
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;   
}

.list-items .list-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2%;
    margin-bottom: 4%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.list-item p {
    width: 100%;
    margin-left: 2%;
    font-size: 1.5rem;
}

.list-item input:hover, span:hover{ /*Here the span:hover will apply to all the spans.*/
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 20px rgba(0, 0, 0, 0.1);
}

.list-item span:active {
    color: red;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 6px 20px rgba(0, 0, 0, 0.1);
}




